{%  extends 'main/base.html' %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    {%  load static %}
    <div class="row">
        <div class="card">
            <img width="300" src="{% static product.url %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text"><small class="text-muted">{{ product.price }} руб.</small></p>
            </div>
        </div>
    </div>
{% endblock %}
